.content{
  width: 60%;
  float:left;

  padding: 0px 0px 0px 30px;






}


.sidebar{
width: 40%;
float: right;
background-color: rgba(255, 0, 0, 0.5);
padding: 10px;
height: 100px;
}
h1{
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
body{

  font-family: 'Peddana', serif;
  font-size: 24px;






}
small{
  background: #457ABF;
  color: white;
  letter-spacing: 2px;
  display: block;
  text-align: center;

}

.post{
  position: relative;
  height: 120px;
  overflow:hidden;
  margin-bottom: 4px;
  color:white;
  background: black;
  letter-spacing: 2px;

}

a h2{
  display:inline-block;
  color: black;



}
a h2:hover{
  color:green;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background:yellow;
}
fieldset legend a{
  color:orange;

}
fieldset legend a:hover{
  background: white;
}

/* Inset */

/* Text between <hr> tag */

#post_detail{
  letter-spacing:7px;
}
.paginator a{
  text-decoration: none;
  color: orange;
  transition-property:all;

  transition-timing-function: ease;
  transition-duration: 5s;


}
.paginator a:hover{



  transform: rotate(360deg);
}
#share{
  display: flex;
  flex-direction: column;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;




}
#share a{
  background: orange;


}
#share a:hover{
  margin-bottom: 4px;
  box-shadow: -4px -4px  blue;
  color:black;



}
#shareform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#shareform input[type="submit"]{
  margin-top: 2px;
  margin-bottom: 4px;
  background-color: black;
  color: white;
  border-radius: 14px;

}
#shareform input[type="submit"]:hover{
  background: green;
  color: black;
  text-decoration: underline;
}
#fashion{
  border: 10px solid #d486258c;
  border-radius: 14px;
  margin:12px;

}
#commentform form{
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:2px solid black;
  width: 390px;
  height: 353px;
  border-radius: 20px;

}
#commentform{
  border:2px solid black;
  border-radius: 30px;
  display:inline-block;
  padding:4px;
  background: rgba(45,45,87,0.5);
  position: relative;
  left: 150px;
}
#commentform form input[type='submit']{
  margin-top: 4px;
  background: black;
  color: white;
  border-radius: 10px;
  padding:2px;

}
#commentform form input[type='submit']:hover{
  background: green;
  color: black;
  text-decoration: underline;
  display: block;

}
#cb{
  border: 2px solid black;
  background: rgba(22,38,72,0.5);
  color:white;
  border-radius: 20px;
  text-align: center;
  width: 362px;
  margin-top: 2px;

}
#commentform {
  margin-top: 200px;
}
#oop{
  display:inline-block;
  text-align: center;
}
#cd{
  border: 2px solid black;
  margin-bottom: 0px;
  margin-top: 4px;
  display:inline-block;
  background: red;
  color:black;
  position: relative;
  left:5px;
  border-radius: 20px;
}
/* responsive design */
@media only screen and (max-width:1086px){
  body{
    background: rgb(0, 153, 204);
    font-size: 30px;
  }
  .content{
    width: 100%;
    position: relative;
    margin-top: 10px;
  }
  .sidebar{
    width:100%;

  }
  #commentform{
    display: inline-block;
        /* position: inherit; */

        margin-bottom: 16px;
        margin-top: 35px;
        position: relative;
        left: 0px;

  }

  #commentform form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;

  }

}
