<!DOCTYPE html>
{%load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static "css/post.css"%}">
    <title>{%block title_block%}{%endblock%}</title>
  </head>


  <body>





<header>

    <div class="content">


      {%block content%}
      {%endblock%}

    </div>
  </header>
    <div class="sidebar">

          <h2>PUNEET TRIVEDI'S BLOG<i class="fa fa-smile-o" aria-hidden="true"></i>
</h2>


      <p>here you can see PYTHON!!@@ Updations</p>

    </div>




  </body>
</html>
